header {
    background-color: #E0E0E0;  /* Light grey color similar to your image */
    text-align: center;
    padding: 40px 0;           /* Adds space above and below the text */
    margin-bottom: 20px;       /* Space between header and content */
}

h1 {
    color: black;
    font-family: 'Helvetica Neue';
    font-size: 30px;
    margin: 0;                /* Remove default margins */
    padding: 0;               /* Remove default padding */
    margin-bottom: 10px;      /* Space between h1 and paragraph */
}

#banner-desc {
    font-family: 'Helvetica Neue';
    font-size: 13px;
    margin: 0;                /* Remove default margins */
    padding: 0;               /* Remove default padding */
    color: #666;              /* Slightly darker grey for the description */
}