body {
    font-family: 'Helvetica Neue', sans-serif;  /* Set font once for whole document */
}

header {
    background-color: lightgrey;
    text-align: center;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 13px;
    background-color: grey;
}

h1 {
    font-size: 30px;
}

#banner-desc {
    font-size: 13px;
    padding-bottom: 60px;
}


h2, #org-desc {
    text-align: center;
}

#student-organizations h2,
#student-organizations #org-desc {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.organization {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
