h1 {
    color: blue;
    font-family: 'Helvetica Neue';
    font-size: 30px;
    padding: 320px;
    border: 2px solid black;
    margin: 20px;
}

p {
    color: purple;
    font-family: 'Helvetica Neue';
    font-size: 13px;
}