body {
    font-family: 'Helvetica Neue', sans-serif;  /* Set font once for whole document */
    width: 100%
}

header {
    background-image: linear-gradient(#f1faee, #a8dadc, #457b9d);
    text-align: center;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 13px;
    background-color: #1d3557;
    
}

h1 {
    font-size: 30px;
}

#banner-desc {
    font-size: 13px;
    padding-bottom: 60px;
}

#student-organizations {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#student-organizations h2,
#student-organizations #org-desc {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.organization {
    flex: 0 1 30%;
    text-align: center;
    padding-top: 50px;
}

#upcoming-events {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#upcoming-events h2 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.event {
    flex: 0 1 30%;
    text-align: center;
    padding-top: 50px;
}

#campus-news {
    display: flex;
    flex-wrap: wrap;
}

#campus-news h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

#headline-article {
    flex: 0 1 45%;
    padding: 20px;
}

.article-container {
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding-bottom: 50px;
}