h1 {
    color: blue;
    font-family: 'Helvetica Neue';
    font-size: 30px;
    padding: 30px;
    border: 2px solid black;
    margin: 0 auto;
    background: radial-gradient(circle at center, blue, lightblue);
}

header {
    background-image: url("student-life.jpg");
    background-size: cover;     /* Makes image cover the full header */
    background-position: center;/* Centers the image */
    padding: 30px;
    width: 100%;
    height: 300px;             /* Adjust height as needed */
}

p {
    color: purple;
    font-family: 'Helvetica Neue';
    font-size: 13px;
}