

header {
    background-color: lightgrey;
    text-align: center;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 13px;
    background-color: grey;
}

h1 {
    color: black;
    font-family: 'Helvetica Neue';
    font-size: 30px;
}

#banner-desc {
    font-family: 'Helvetica Neue';
    font-size: 13px;
    padding-bottom: 60px;
}


h2 {
    text-align: center;
}

#org-desc {
    text-align: center;
}

#student-organization {
    display: flex;
    
}
