body {
    font-family: 'Helvetica Neue', sans-serif;  /* Set font once for whole document */
    width: 100%
    height: 10
}

header {
    background-color: lightgrey;
    text-align: center;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 13px;
    background-color: grey;
}

h1 {
    font-size: 30px;
}

#banner-desc {
    font-size: 13px;
    padding-bottom: 60px;
}




#student-organizations {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#student-organizations h2,
#student-organizations #org-desc {
    width: 100%;  /* Make these elements take full width */
    text-align: center;  /* Center the text inside */
    margin: 10px 0;  /* Add some vertical spacing */
}

.organization {
    flex: 0 1 30%;
    text-align: center;
}